
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/

.contact {
	padding-top: 11.75rem;
	padding-bottom: 11.3rem;
	color: white !important;

	.contact-title {
		margin-top: 3.25rem;
		margin-bottom: 3.25rem;
		font-size: 6.25rem;
		font-family: $body-font;
		font-weight: 400;
		color: white;
		line-height: 1;
	}

	p {
		@include media-breakpoint-up(xl) {
			width: 65%;
		}
	}
}

.feedback {
	background-color: #fff5ee;

	.feedback-form {
		background-color: white;
		padding: 4.625rem;
		
		.btn {
			background-color: transparent;
		}
	}

}

.about-section {
	padding-top: 12.675rem;
	padding-bottom: 8rem;
}

.error-404 {
	padding-top: 7rem;
	padding-bottom: 6.875rem;

	h1 {
		color: white;
		font-size: 18rem;
		line-height: 1;
		font-family: $heading-font;
		font-weight: 400;
		margin-bottom: 4rem;
		@include media-breakpoint-down(sm) {
			font-size: 13.5rem;
		}
	}
	
	p {
		margin-bottom: 3.5rem;
		color: white;
	}
	
	.btn {
		padding: 1.125rem 5.3rem;
		background-color: $theme-color;
	}


}

.main-bg {
	background-image: url(../images/main-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.btn {
	width: 16.25rem;
}

.intro-section {
	background-image: url(../images/ads/ads1.png);
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 6.3rem;
	padding-bottom: 6.3rem;
}

	.list {
		display: flex;

		.count{
			position: relative;
		}

		.rotated-half-circle {
				width: 4.3rem;
				height: 4.3rem;
				border: 2px solid $theme-color;
				border-radius: 50%;
				border-bottom-color: transparent;
				border-left-color: transparent;
				transform: rotate(-149deg);
				position: relative;
		}

		.count span {
				position: absolute;
				text-align: top;
				top: 7%;
				left: 4%;
				font-size: 3rem;
				line-height: 1;
				color: $theme-color;
				font-weight: 400;
				margin-right: 1rem;
				margin-left: 1rem;
		}
}

#content {
	background-color: #fff5ee;
}

.read_more {
	padding-top: 0.68rem;
	font-size: $h4-font-size;
	font-weight: 500;
}

.history-content {
	margin-top: 4.1rem;

}

.me-n1 {
	@include media-breakpoint-up(xl) {
	margin-right: -1rem;
	}
}

.me-n14 {
	@include media-breakpoint-up(xl) {
		margin-right: -14rem;
	}
}

.section-bg {
	background-size: cover;
	background-repeat: no-repeat;
}