
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #fff5ee;
	padding-bottom: 4.43rem;
}

#footer-top {
	border-top: 1px solid $heading-color;
	padding-top: 4rem;
	padding-bottom: 3.56rem;
}

#footer-main {
	h4{
		margin-bottom: 2.3rem;
	}

	p {
		line-height: 1.25;
	}
}
